CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.so
*.a
/Testing
/build
WebFileServerExample
WebFileServerExampleTest
__pycache__